# ==========================================
# PostgreSQL database Configuration
# ==========================================
DB_NAME=lims_db
DB_USER=lims_admin
DB_PASSWORD=your_local_db_password_here

# ==========================================
# pgAdmin Configuration
# ==========================================
PGADMIN_EMAIL=admin@lims.tsmc.com
PGADMIN_PASSWORD=your_pgadmin_password_here

# ==========================================
# Security Secrets
# ==========================================
# JWT Security Key (Generate a 256-bit random string via 'openssl rand -base64 32')
JWT_SECRET=your_generated_secret_key_here

# ==========================================
# Mail Server Configuration (TOTP 2FA)
# ==========================================
# Your Gmail address and Google App Password (NOT your account login password)
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_gmail_app_password_here